@page "/"
@using System.ComponentModel.DataAnnotations;
@using QLEnvPut.Service;
@using QLEnvPut.Response;
@inject MessageService _message;
@inject CommitService _service;


<PageContainer Title="提交环境变量">
    <Form Loading="loading" Model="@model"
          LabelColSpan="3"
          WrapperColSpan="16"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed">
        <FormItem Label="京东Cookie">
            <TextArea Rows="4" @bind-Value="@context.Env" />
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                提交
            </Button>
        </FormItem>
    </Form>
</PageContainer>

@code
{



    public class Model
    {
        /// <summary>
        /// 京东ck
        /// </summary>/
        [Required]
        public string Env { get; set; }

        public string ErrorMsg { get; set; }

        public bool ShowError { get; set; } = false;


    }

    private Model model = new Model();

    private void OnFinish(EditContext editContext)
    {
        try
        {
            var sucess = _service.UpdateCK(model);
            if (sucess)
            {
                 _message.Success($"更新成功");
            }
        }
        catch (Exception ex)
        {
            _message.Error($"出错!{ex.Message}");
        }


    }



    private void OnFinishFailed(EditContext editContext)
    {
       
    }

    bool loading = false;

    void toggle(bool value) => loading = value;
}
